#pcl object temp files
PCL_Object_Project/bin/*
PCL_Object_Project/build/*

#qt pcl project temp files
*~
*.swp
*.kdev4
*.pcd
*.png
*.vtk
*.so
*.a

.kdve4/
build/
3rdParty/
QT_PCL_Project/bin/qt_pcl_project
QT_PCL_Project/bin/qt_pcl_project_shell
QT_PCL_Project/bin/scene_project

