#pcl object temp files
PCL_Object_Project/bin/*
PCL_Object_Project/build/*

#pcl scene temp files
*.kdev4
*.pcd
*.png
QT_PCL_Project/.kdve4/*
QT_PCL_Project/bin/scene_project
QT_PCL_Project/build/*
QT_PCL_Project/include/3rdParty/rapidjson/*

